# Environment
.env
.env.example

# Version control
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyd
.mypy_cache/
.pytest_cache/

# Build artifacts
build/
dist/
*.log
*.tmp
*.bak

# IDEs/Editors
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker & Dev
docker-compose.yml
docker-compose.override.yml
Dockerfile.dev

# Project config & docs
Makefile
README.md
setup.py
setup.cfg
Pipfile*

# Development resources
logs/
tests/
docs/
examples/

# Misc
.cache/
documents/

# Virtual env
.venv
venv