attrs>=25.3.0
dbutils>=3.1.0
discord.py~=2.5.2
envier>=0.6.1
i18nice[yaml]>=0.15.5
mariadb>=1.1.12
python-dotenv>=1.1.0
pytz>=2025.2
pytest>=8.3.5
pytest-asyncio>=0.26.0
pytest-cov>=6.1.1
pytest-mock>=3.14.0
freezegun~=1.5.1
dependency-injector~=4.46.0